@page "/helpdocument/upload"
@inherits HelpDocumentBasePageClass

<PageTitle>Upload Help Document</PageTitle>

<EditForm Model="@HelpDocumentDisplayModel" OnValidSubmit="CreateFile">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <MudGrid>
        <MudItem sm="7">
            <MudCard>
                <MudCardContent>
                    <MudSelect
                        T="string"
                        Label="Category"
                        @bind-Value="HelpDocumentDisplayModel.Category"
                        data-testid="ddlHelpDocumentCategory">
                        @foreach (var helpCategory in HelpCategories)
                        {
                            <MudSelectItem Value="@helpCategory">@helpCategory</MudSelectItem>
                        }
                    </MudSelect>
                    <br />
                    <MudFileUpload
                        T="IBrowserFile"
                        FilesChanged="UploadFile"
                        Accept="@(".pdf")"
                        data-testid="uplHelpDocument">
                        <MudButton HtmlTag="label"
                                    Variant="Variant.Filled"
                                    Color="Color.Primary"
                                    StartIcon="@Icons.Material.Filled.FileUpload">
                            Select File
                        </MudButton>
                    </MudFileUpload>
                    <br />
                    @FileName
                    <div style="color: red" data-testid="fileUploadMessage">@FileMessage</div>
                </MudCardContent>
                <MudCardActions>

                    <MudStack Row="true" Spacing="2" AlignItems="AlignItems.Center">

                        <MudButton Variant="Variant.Filled"
                                   Color="Color.Primary"
                                   ButtonType="ButtonType.Submit"
                                   StartIcon="@Icons.Material.Filled.Check">
                            Upload
                        </MudButton>

                        <MudButton Variant="Variant.Outlined"
                                   Color="Color.Default"
                                   StartIcon="@Icons.Material.Filled.ArrowBack"
                                   Href="/helpdocuments/index">
                            Cancel
                        </MudButton>

                    </MudStack>

                </MudCardActions>

            </MudCard>
        </MudItem>
    </MudGrid>
</EditForm>