@inherits LayoutComponentBase

<MudThemeProvider @ref="_mudThemeProvider" Theme="ManufacturerManagerTheme.Theme" @bind-IsDarkMode="_isDarkMode" />
<MudDialogProvider />
<MudPopoverProvider />
<MudSnackbarProvider />

<PageTitle>Manufacturer Manager</PageTitle>

<CascadingValue Value="this">
    <MudLayout>
        <MudAppBar Elevation="1">
            <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
            <MudText Typo="Typo.h5" Class="ml-3">Manufacturer Manager</MudText>
            <MudSpacer />
            <div style="width: 80%; color: white; font-size: 24px">@HeaderText</div>
            <MudTooltip Text="Save to MyMM">
                <MudIconButton Icon="@Icons.Material.Filled.Add"
                               Color="Color.Inherit"
                               OnClick="SaveToMyMM" />
            </MudTooltip>
            <MudTooltip Text="@(_isDarkMode ? "Switch to light mode" : "Switch to dark mode")">
                <MudIconButton Icon="@(_isDarkMode ? Icons.Material.Filled.LightMode : Icons.Material.Filled.DarkMode)"
                               Color="Color.Inherit"
                               OnClick="ToggleDarkMode" />
            </MudTooltip>
        </MudAppBar>
        <MudDrawer @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2">
            <NavMenu />
        </MudDrawer>
        <MudMainContent>
            <MudBreadcrumbs Items="BreadCrumbs">
                <SeparatorTemplate>
                    <MudIcon Icon="@Icons.Material.Filled.ArrowForward" Size="Size.Small" />
                </SeparatorTemplate>
            </MudBreadcrumbs>
            @Body
        </MudMainContent>
    </MudLayout>
</CascadingValue>